ul#css3menu4{
	margin:0 0%;list-style:none;padding:0 0%;background-color:#dedede;border-width:1px;border-style:solid;border-color:#5f5f5f;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:0;width:100%;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;*padding-right:1.32%;}
ul#css3menu4 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
* html ul#css3menu4 li a{
	display:inline-block;}
ul#css3menu4>li{
	margin:0;width:20%;}
body:first-of-type ul#css3menu4{
	display:inline-table;border-spacing:0px 0;}
body:first-of-type ul#css3menu4>li{
	display:table-cell;float:none;}
ul#css3menu4 a:active, ul#css3menu4 a:focus{
	outline-style:none;}
ul#css3menu4 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 14px Trebuchet MS;color:#000000;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:10px;background-color:#aaffff;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;}
ul#css3menu4 li:hover>a,ul#css3menu4 li a.pressed{
	background-color:#ffff7f;border-color:#C0C0C0;border-style:solid;color:#000000;text-shadow:#FFF 0 0 1px;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu4 li.topfirst>a{
	border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu4 li.toplast>a{
	border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;}
ul#css3menu4>li:nth-child(1){width:15%}ul#css3menu4>li:nth-child(2){width:21%}ul#css3menu4>li:nth-child(3){width:24%}ul#css3menu4>li:nth-child(4){width:19%}ul#css3menu4>li:nth-child(5){width:21%}
@-moz-document url-prefix(){body:first-of-type ul#css3menu4{display:inline-block} body:first-of-type ul#css3menu4>li{display:block;float:left !important;}}
@media only screen and (max-width:380px),only screen and (max-device-width:380px){
ul#css3menu4>li:nth-child(1){width:25%}ul#css3menu4>li:nth-child(2){width:35%}ul#css3menu4>li:nth-child(3){width:40%}ul#css3menu4>li:nth-child(4){width:47%}ul#css3menu4>li:nth-child(5){width:53%}body:first-of-type ul#css3menu4{display:inline-block} body:first-of-type ul#css3menu4>li{display:block;float:left !important;}}
@media only screen and (max-width:226px),only screen and (max-device-width:226px){
ul#css3menu4>li:nth-child(1){width:42%}ul#css3menu4>li:nth-child(2){width:58%}ul#css3menu4>li:nth-child(3){width:55%}ul#css3menu4>li:nth-child(4){width:45%}ul#css3menu4>li:nth-child(5){width:100%}}
@media only screen and (max-width:163px),only screen and (max-device-width:163px){
ul#css3menu4>li:nth-child(1){width:42%}ul#css3menu4>li:nth-child(2){width:58%}ul#css3menu4>li:nth-child(3){width:100%}ul#css3menu4>li:nth-child(4){width:47%}ul#css3menu4>li:nth-child(5){width:53%}}
